#title {
    background-color: #ff4c68;
}

#features {
    margin: 5%;
    text-align: center;

}

#pricing {
    text-align: center;
    padding: 100px;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.pricing-column {
    padding: 3% 2%;
}

.card-button:hover {
    background-color: #2F58CD;
}

.carousel-item {
    padding: 7% 15%;
}

.container-fluid {
    padding: 3% 15%;
}

/* .header{
    margin-top: 7%;
} */

.feature-icon {
    margin: 2.5rem auto;
    color: #ef8172;
}

.feature-icon:hover {
    color: #ff4c68
}

.feature-text {
    color: #8f8f8f;
    font-family: 'Montserrat';
    margin: auto;
    width: 60%;
}

.header-button {
    margin: 5% 3% 5% 0;
}

.header-text {
    color: white;
    line-height: 1.5;
}

.header-img {
    width: 60%;
    transform: rotate(25deg);
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 4%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 5px;
}


h1 {
    font-family: 'Montserrat';
    size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}

p {
    color: #8f8f8f;
}

/* Navigator Brand */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0rem 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
}